# 実行ファイル除去
*
!*/
!*.*


# vscode関係
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/c_cpp_properties.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Debug Symbol file
*.dSYM

# onlinejudge
onlinejudge/

# お試し用
inspection1.cpp
inspection2.cpp
second_try.cpp
second_try2.cpp
hello.cpp

# python
/python

# コーディングテスト
codetest_*/
